.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
  font-family: 'Arial', sans-serif;
}


h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-top: 20px;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #080808;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
  background-color: #ddd;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.status {
  margin-top: 20px;
  font-size: 18px;
}

/* Winning animation */
@keyframes winningAnimation {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.2);
  }
}

.winner-message {
  font-size: 1.5em;
  font-weight: bold;
  color: #4caf50;
  margin-top: 10px;
  animation: winningAnimation 2s ease-in-out;
}

.draw-message {
  font-size: 1.5em;
  font-weight: bold;
  color: #f44336;
  margin-top: 10px;
}
